/* --- General Styles --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {height: 100%;}

body {
  background-color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


/* --- Reusable Sections --- */
/* Nav Section */
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #a493c0;
}

nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}

nav {text-align: center;}
nav > ul {display: inline;}

nav > ul > li {
  display: inline-block;
  margin: 0 5px;
  list-style: none;
}

/* Main Section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95%;
  padding-top: 3em;
  padding-bottom: .8em;
  background-image: url(../images/background.png);
}

aside, article {padding: 2em;}
aside {text-align: center;}
p {margin: .5em 0;}

/* Footer Section */
footer {padding: 15px;}


/* --- Pages --- */
/* Home Page */
.banner {width: 100%;}

.main-title {
  margin: .5em 0;
  font-size: 3em;
}

.sub-title {
  padding: 1em;
  background: #fff;
  font-size: 1.5em;
}

/* Pies Page */
.columns-desktop {
  display: flex;
  flex-direction: column;
}

.pie {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pie img {width: 100%;}

.pie .columns {
  display: flex;
  justify-content: space-between;
}

.pie .title {font-weight: bold;}
.pie .price {text-align: right;}

.pie button {
  padding: 10px;
  border: 1px solid #f6aeae;
  border-radius: 3px;
  background-color: #f6aeae;
  color: #fff;
}

.pie button:hover,
.pie button:active {background-color: #f17f7f;}

/* Order Page */
form {margin-top: 10px;}
.input-group {margin-bottom: 20px;}
label {font-weight: 600;}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: solid 1px #999;
  border-radius: 2px;
}

input[type="reset"] {
  background: none;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"] {
  padding: 10px;
  border: solid 1px #999;
  border-radius: 3px;
}


/* --- Media Queries --- */
@media only screen and (min-width: 768px) {
  aside, article {max-width: 832px;}
}

@media only screen and (min-width: 526px) {
  .columns-desktop {flex-direction: row;}
}